<h1><%= @restaurant.name %></h1>
<br>
<h2><%= @restaurant.address %></h2>
<br>
<h3><%= @restaurant.phone_number %></h3>

<%= link_to 'Back', restaurants_path %>
<p><%= @restaurant.reviews %></p>

<%= link_to "New review", new_restaurant_review_path(@restaurant) %>
